@import "../../../globalStyles/scss/variables.scss";

.footer {
  background-color: $gray-light;
  padding: $spacer * 3 0 $spacer * 2;

  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    div:not(:last-of-type) {
      padding-right: $spacer * 3;
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__favicons {
    border-top: 1px solid $gray-light;
    margin-bottom: $spacer;
    display: flex;
    justify-content: center;
    max-width: 150px;
  }

  &__section {
    h4 {
      font-weight: $bold-font-weight;
      margin-bottom: $spacer;
    }
    &-header {
      font-weight: $bold-font-weight;
      margin-bottom: $spacer;
      text-transform: uppercase;
    }

    &-content {
      p {
        margin-bottom: $spacer;
        font-size: $small-font-size;
        color: $gray-dark;

        a {
          text-decoration: none;
          color: $gray-dark;
        }
      }
    }
  }
}
