@import "../../../globalStyles/scss/variables.scss";

.footer {
  background-color: $logo-blue;
  padding: $spacer * 3 0 $spacer * 2;
  color: $white;

  .container {
    display: grid;
    justify-content: center;

    & > div {
      padding: $spacer;
    }

    @media (min-width: 600px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-width: 920px) {
      max-width: 70%;
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__favicons {
    // border-top: 1px solid $gray-light;
    margin-bottom: $spacer;
    display: flex;
    justify-content: center;
    max-width: 150px;
  }

  &__section {
    h4 {
      font-weight: $bold-font-weight;
      margin-bottom: $spacer;
    }
    &-header {
      font-weight: $bold-font-weight;
      margin-bottom: $spacer;
      text-transform: uppercase;
    }

    &-content {
      p {
        margin-bottom: $spacer / 2;
        font-size: $small-font-size;
        color: $white-off;

        a {
          text-decoration: none;
          color: $white-off;
        }
      }
    }

    &-payments {
      p {
        position: relative;
        font-weight: $bold-font-weight;
        margin-top: 10px;
        padding-top: 10px;

        &::before {
          content: "";
          background: $white-off;
          position: absolute;
          top: 0;
          left: 0;
          height: 2px;
          width: 50%;
        }
      }
    }
  }
}
